Repository boozook/playdate, pull requests merged in 2024-06, with the labels that each got.

#366 Metadata & manifest-builder refactoring
  Cargo.lock
  Cargo.toml
  cargo/Cargo.toml
  cargo/src/assets/mod.rs
  cargo/src/assets/plan.rs
  cargo/src/build/mod.rs
  cargo/src/build/plan/format.rs
  cargo/src/build/plan/mod.rs
  cargo/src/config.rs
  cargo/src/init/mod.rs
  cargo/src/layout/playdate.rs
  cargo/src/main.rs
  cargo/src/package/mod.rs
  cargo/src/proc/reader.rs
  cargo/src/proc/utils.rs
  cargo/src/utils/cargo/build_plan.rs
  cargo/src/utils/cargo/format.rs
  cargo/src/utils/cargo/meta_deps.rs
  cargo/src/utils/cargo/metadata.rs
  cargo/src/utils/cargo/mod.rs
  cargo/src/utils/cargo/unit_graph.rs
  cargo/src/utils/mod.rs
  cargo/tests/crates/metadata/Cargo.toml
  rust-toolchain.toml
  support/build/Cargo.toml
  support/build/README.md
  support/build/src/assets/plan.rs
  support/build/src/assets/resolver.rs
  support/build/src/lib.rs
  support/build/src/manifest/format.rs
  support/build/src/manifest/mod.rs
  support/build/src/metadata/format.rs
  support/build/src/metadata/mod.rs
  support/build/src/metadata/source.rs
  support/build/src/metadata/validation.rs
  support/build/src/value.rs
Labels: docs, cargo, assets, build-utils, manifest

#367 Improve abort with error, panic handler
  api/sys/Cargo.toml
  api/sys/src/build.rs
  api/sys/src/lib.rs
  api/sys/src/sys/proc.rs
Labels: enhancement, api

#374 Update cargo build-script output format
  Cargo.lock
  api/sys/Cargo.toml
  api/sys/src/build.rs
  support/addr2line/Cargo.toml
  support/addr2line/src/build.rs
  support/bindgen-cfg/Cargo.toml
  support/bindgen-cfg/src/lib.rs
  support/bindgen/Cargo.toml
  support/bindgen/src/gen/docs/gen.rs
  support/bindgen/src/gen/mod.rs
  support/bindgen/src/lib.rs
Labels: bindgen, api

#376 Assets-builder refactoring
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  cargo/Cargo.toml
  cargo/src/assets/mod.rs
  cargo/src/assets/pdc.rs
  cargo/src/assets/plan.rs
  cargo/src/main.rs
  cargo/src/package/mod.rs
  cargo/src/proc/logging.rs
  cargo/src/utils/cargo/format.rs
  cargo/src/utils/cargo/meta_deps.rs
  cargo/src/utils/cargo/metadata.rs
  cargo/src/utils/cargo/unit_graph.rs
  support/build/Cargo.toml
  support/build/README.md
  support/build/src/assets/mod.rs
  support/build/src/assets/plan.rs
  support/build/src/assets/resolver.rs
  support/build/src/manifest/mod.rs
  support/build/src/metadata/format.rs
  support/build/src/metadata/source.rs
  support/build/src/metadata/validation.rs
Labels: docs, cargo, assets, build-utils

#377 Simplify sqlite deps-graph of symbolizer
  Cargo.lock
  support/addr2line/.cargo/config.toml
  support/addr2line/Cargo.toml
  support/addr2line/src/addr2line-crashlog.rs
  support/addr2line/src/addr2line-trace.rs
  support/addr2line/src/addr2line.rs
  support/addr2line/src/build.rs
  support/addr2line/src/db.rs
Labels: enhancement, symbolic-tools

#378 Update cargo
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/assets/mod.rs
  cargo/src/build/mod.rs
  cargo/src/build/rustflags.rs
  cargo/src/cli/mod.rs
  cargo/src/layout/mod.rs
  cargo/src/main.rs
  cargo/src/package/mod.rs
  cargo/src/proc/logging.rs
  cargo/src/proc/utils.rs
  cargo/src/utils/logging.rs
  cargo/src/utils/mod.rs
  cargo/src/utils/workspace.rs
  support/addr2line/Cargo.toml
Labels: cargo, symbolic-tools

#380 Fix assets planning should be compile-kind agnostic
  Cargo.lock
  Cargo.toml
  cargo/Cargo.toml
  cargo/src/assets/mod.rs
  cargo/src/assets/plan.rs
  cargo/src/main.rs
  cargo/src/utils/cargo/meta_deps.rs
  support/build/Cargo.toml
  support/build/src/assets/plan.rs
  support/build/src/assets/resolver.rs
Labels: bug, cargo, assets

#385 Build without cargo's build-plan and build-ctx, just unit-tree
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/build/mod.rs
  cargo/src/layout/cargo.rs
  cargo/src/main.rs
  cargo/src/package/mod.rs
  cargo/src/proc/reader.rs
  cargo/src/utils/cargo/format.rs
  cargo/src/utils/cargo/meta_deps.rs
  cargo/src/utils/cargo/unit_graph.rs
  cargo/src/utils/workspace.rs
Labels: cargo

#375 Add example for updating state in serial message callback
  api/system/Cargo.toml
  api/system/examples/README.md
  api/system/examples/update-state-in-serial-message-callback.rs
Labels: docs, api

#389 CI: fmt after clippy fix
  .github/workflows/tests.yml
Labels: ci

#388 Update dependencies
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/cli/mod.rs
  support/device/Cargo.toml
  support/tool/Cargo.toml
  support/utils/Cargo.toml
Labels: cargo

#390 Set `cargo-playdate` version to `0.5.0` finally 🎉
  Cargo.lock
  cargo/Cargo.toml
Labels: cargo

#394 Fix crashlog-symbolizer register decoder
  Cargo.lock
  support/addr2line/Cargo.toml
  support/addr2line/src/addr2line-crashlog.rs
  support/addr2line/src/ef.rs
  support/addr2line/src/fmt/crashlog.rs
  support/addr2line/src/lib.rs
Labels: bug, symbolic-tools
