Repository boozook/playdate, pull requests merged in 2024-05, with the labels that each got.

#327 Add binding for `setSerialMessageCallback`
  api/system/Cargo.toml
  api/system/examples/README.md
  api/system/examples/set-serial-message-callback.rs
  api/system/src/lib.rs
Labels: docs, api

#339 Fix assets missed crate root
  .github/workflows/tests.yml
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/assets/mod.rs
  cargo/src/assets/plan.rs
  support/build/Cargo.toml
  support/build/src/assets/mod.rs
  support/build/src/assets/plan.rs
  support/build/src/assets/resolver.rs
  support/build/src/assets/tests.rs
Labels: bug, cargo, assets, build-utils

#337 Fix `panic` & `error`, improve allocator
  Cargo.lock
  api/sys/Cargo.toml
  api/sys/src/sys/allocator.rs
  api/sys/src/sys/proc.rs
Labels: api

#347 Package examples on windows
  .github/workflows/tests.yml
  Cargo.lock
  codemagic.yaml
  support/build/Cargo.toml
  support/build/src/assets/mod.rs
  support/build/src/io.rs
Labels: windows, ci

#319 Add some support for the Lua API
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  api/lua/Cargo.toml
  api/lua/README.md
  api/lua/examples/Example.pdx/main.pdz
  api/lua/examples/Example.pdx/pdxinfo
  api/lua/examples/README.md
  api/lua/examples/add-function-get-arg-string.rs
  api/lua/examples/sources/main.lua
  api/lua/src/error.rs
  api/lua/src/lib.rs
  api/playdate/Cargo.toml
  api/playdate/README.md
  api/playdate/src/lib.rs
Labels: docs, api

#353 Fix test: init_args_before_cmd (win)
  cargo/src/cli/mod.rs
Labels: cargo

#356 Follow-up for #353 - fix another test, bump version
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/cli/mod.rs
Labels: cargo

#350 Tests and improvements
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/assets/mod.rs
  cargo/src/assets/plan.rs
  cargo/src/init/mod.rs
  cargo/src/package/mod.rs
  support/bindgen-cfg/Cargo.toml
  support/bindgen-cfg/src/lib.rs
  support/build/Cargo.toml
  support/build/src/assets/mod.rs
  support/build/src/assets/plan.rs
  support/build/src/assets/resolver.rs
  support/build/src/assets/tests.rs
  support/build/src/config.rs
  support/build/src/io.rs
  support/build/src/manifest.rs
  support/device/Cargo.toml
  support/device/src/mount/mod.rs
  support/device/src/mount/win.rs
  support/device/src/serial/mod.rs
  support/device/src/usb/io.rs
  support/device/src/usb/mod.rs
  support/tool/Cargo.toml
  support/tool/src/cli.rs
  support/tool/src/main.rs
  support/utils/Cargo.toml
  support/utils/src/compile.rs
Labels: bindgen, cargo

#351 Expand pre-req instructions in hello_world readme.
  cargo/README.md
Labels: docs, cargo

#358 Support devices connected via USB-hub on macOs
  Cargo.lock
  cargo/Cargo.toml
  support/device/Cargo.toml
  support/device/src/mount/mac.rs
  support/tool/Cargo.toml
Labels: cargo, usb, macOs

#360 Improve manifest (extra- & dev- fields)
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  cargo/Cargo.toml
  cargo/src/assets/pdc.rs
  cargo/src/build/mod.rs
  cargo/src/package/mod.rs
  support/build/Cargo.toml
  support/build/src/assets/mod.rs
  support/build/src/assets/plan.rs
  support/build/src/assets/resolver.rs
  support/build/src/assets/tests.rs
  support/build/src/config.rs
  support/build/src/fs.rs
  support/build/src/lib.rs
  support/build/src/manifest/format.rs
  support/build/src/manifest/mod.rs
  support/build/src/metadata.rs
  support/build/src/metadata/cargo.rs
  support/build/src/metadata/error.rs
  support/build/src/metadata/format.rs
  support/build/src/metadata/mod.rs
  support/build/src/value.rs
Labels: cargo, assets, build-utils, manifest

#368 Bump crates
  Cargo.lock
  api/ctrl/Cargo.toml
  api/menu/Cargo.toml
  api/playdate/Cargo.toml
  api/sprite/Cargo.toml
  components/crank-indicator/Cargo.toml
Labels: bug, api

#370 Bump crates
  Cargo.lock
  api/color/Cargo.toml
  api/display/Cargo.toml
  api/fs/Cargo.toml
  api/lua/Cargo.toml
  api/scoreboards/Cargo.toml
  api/system/Cargo.toml
Labels: api

#371 Prevent DCE for stored sound sample data
  Cargo.lock
  api/sound/Cargo.toml
  api/sound/src/sample.rs
Labels: enhancement, api, sound
