Repository boozook/playdate, pull requests merged in 2024-04, with the labels that each got.

#256 Tests on windows + action for dependencies
  .github/actions/tools-deps/action.yml
  .github/workflows/dev-build.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/update.yml
Labels: windows, ci

#260 Fix `cargo-playdate run`, add async-std reactor support
  Cargo.lock
  Cargo.toml
  cargo/Cargo.toml
  support/device/Cargo.toml
  support/device/src/device/methods.rs
  support/device/src/install.rs
  support/device/src/mount/linux.rs
  support/device/src/mount/mac.rs
  support/device/src/mount/methods.rs
  support/device/src/mount/win.rs
  support/tool/Cargo.toml
Labels: cargo

#261 CI: fix test-threads on windows
  .github/workflows/tests.yml
Labels: windows, ci

#262 More temp dev-builds on CI
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
Labels: ci

#265 Improve sim ctrl: async-std support
  Cargo.lock
  cargo/Cargo.toml
  support/sim-ctrl/Cargo.toml
  support/sim-ctrl/src/run.rs
Labels: cargo

#266 Split `init` tests
  .github/workflows/tests.yml
  Cargo.lock
  cargo/Cargo.toml
  cargo/tests/init/init.rs
  cargo/tests/init/new.rs
Labels: windows, cargo, ci

#269 Add packages metadata for docs.rs and crates.io
  Cargo.lock
  support/bindgen-cfg/Cargo.toml
  support/bindgen/Cargo.toml
  support/build/Cargo.toml
  support/device/Cargo.toml
  support/sim-ctrl/Cargo.toml
  support/tool/Cargo.toml
  support/utils/Cargo.toml
Labels: enhancement, bindgen, manifest

#274 Improve device unmounting
  .github/workflows/dev-build.yml
  Cargo.lock
  cargo/Cargo.toml
  support/device/Cargo.toml
  support/device/src/mount/linux.rs
  support/device/src/mount/mac.rs
  support/device/src/mount/win.rs
  support/tool/Cargo.toml
  support/tool/README.md
  support/tool/src/cli.rs
  support/tool/src/main.rs
Labels: docs, windows, cargo, linux

#277 Device: various fixes & improvements
  .github/workflows/tests.yml
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/main.rs
  support/device/Cargo.toml
  support/device/src/device/methods.rs
  support/device/src/device/query.rs
  support/device/src/device/serial.rs
  support/device/src/error.rs
  support/device/src/interface/async.rs
  support/device/src/interface/blocking.rs
  support/device/src/interface/mod.rs
  support/device/src/mount/methods.rs
  support/device/src/mount/mod.rs
  support/device/src/mount/win.rs
  support/device/src/retry.rs
Labels: cargo

#287 CI: fix update & test workflows
  .github/workflows/auto-merge.yml
  .github/workflows/tests.yml
  .github/workflows/update.yml
Labels: ci

#288 Update all api crates
  Cargo.lock
  Cargo.toml
  api/color/Cargo.toml
  api/ctrl/Cargo.toml
  api/display/Cargo.toml
  api/fs/Cargo.toml
  api/gfx/Cargo.toml
  api/menu/Cargo.toml
  api/playdate/Cargo.toml
  api/scoreboards/Cargo.toml
  api/sound/Cargo.toml
  api/sprite/Cargo.toml
  api/system/Cargo.toml
  cargo/Cargo.toml
  cargo/src/cli/opts.rs
Labels: cargo, api

#289 CI: improve update & publish workflows
  .github/workflows/post.yml
  .github/workflows/publish.yml
  .github/workflows/update.yml
  Cargo.toml
Labels: ci

#290 Fix `device` (query) env var implicitly sets `device` arg
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/cli/opts.rs
Labels: bug, cargo

#291 Improve `cargo-playdate` README
  Cargo.lock
  cargo/Cargo.toml
  cargo/README.md
Labels: docs, cargo

#292 Add linker-script to produce efls that acceptable for PDC, allow to use it in `cargo-playdate` with `--no-gcc`
  Cargo.lock
  Cargo.toml
  cargo/Cargo.toml
  cargo/README.md
  cargo/src/build/rustflags.rs
  cargo/src/cli/opts.rs
  support/utils/Cargo.toml
  support/utils/README.md
  support/utils/src/compile.rs
  support/utils/src/layout.x
Labels: docs, elf-executable, cargo, build-utils

#294 Support crates minor refactoring: optimisations & clean garbage
  Cargo.lock
  support/bindgen-cfg/Cargo.toml
  support/bindgen-cfg/src/lib.rs
  support/bindgen/Cargo.toml
  support/bindgen/src/gen/docs/gen.rs
  support/bindgen/src/gen/docs/parser.rs
  support/bindgen/src/gen/mod.rs
  support/bindgen/src/lib.rs
  support/build/Cargo.toml
  support/build/src/assets/mod.rs
  support/build/src/assets/plan.rs
  support/build/src/assets/resolver.rs
  support/build/src/io.rs
  support/build/src/manifest.rs
  support/build/src/metadata.rs
  support/device/Cargo.toml
  support/device/src/device/command.rs
  support/device/src/device/serial.rs
  support/device/src/install.rs
  support/device/src/mount/mac.rs
  support/device/src/retry.rs
  support/device/src/serial/mod.rs
  support/device/src/usb/discover.rs
  support/device/src/usb/io.rs
  support/device/src/usb/mod.rs
  support/sim-ctrl/Cargo.toml
  support/sim-ctrl/src/run.rs
  support/tool/Cargo.toml
  support/utils/Cargo.toml
  support/utils/src/toolchain/gcc.rs
  support/utils/src/toolchain/sdk.rs
Labels: enhancement, bindgen, build-utils

#298 CI: clippy check & suggestions for tools & utils
  .github/workflows/tests.yml
  .github/workflows/update.yml
  Cargo.lock
  support/bindgen/Cargo.toml
  support/bindgen/src/lib.rs
Labels: bindgen, ci

#305 Fix prebuilt filename arch
  .github/workflows/tests.yml
  .github/workflows/update.yml
  Cargo.lock
  api/sys/gen/pd2.4.0-p64-i32-000100000.rs
  api/sys/gen/pd2.4.0-p64-i32-111111110.rs
  api/sys/gen/pd2.4.1-p64-i32-000100000.rs
  api/sys/gen/pd2.4.1-p64-i32-111111110.rs
  api/sys/gen/pd2.4.2-p64-i32-000100000.rs
  api/sys/gen/pd2.4.2-p64-i32-111111110.rs
  support/bindgen-cfg/Cargo.toml
  support/bindgen-cfg/src/lib.rs
  support/bindgen/Cargo.toml
  support/bindgen/src/lib.rs
Labels: bindgen, pre-built bindings

#313 Fix `simulator-utils` bug: can't run pdx on macOs by relative path
  Cargo.lock
  support/sim-ctrl/Cargo.toml
  support/sim-ctrl/src/run.rs
  support/tool/Cargo.toml
  support/tool/src/cli.rs
Labels: cargo

#316 Fix use async `tokio-serial` in incorrect context
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/main.rs
Labels: bug, cargo

#317 Minor grammar fixes
  cargo/README.md
  cargo/src/main.rs
Labels: docs, cargo

#318 Fix some doc aliases
  api/system/src/event.rs
Labels: api

#320 Bump changed crates
  Cargo.lock
  api/system/Cargo.toml
  cargo/Cargo.toml
Labels: cargo, api

#323 Fix cargo-playdate error "No packages has been produced"
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/build/mod.rs
  cargo/src/main.rs
  cargo/tests/build/simple.rs
Labels: bug, cargo, compatibility

#321 Add symbolisation utils
  .github/workflows/dev-build.yml
  .github/workflows/release.yml
  Cargo.lock
  support/addr2line/.cargo/config.toml
  support/addr2line/Cargo.toml
  support/addr2line/README.md
  support/addr2line/src/addr2line-crashlog.rs
  support/addr2line/src/addr2line-trace.rs
  support/addr2line/src/addr2line.rs
  support/addr2line/src/build.rs
  support/addr2line/src/cli.rs
  support/addr2line/src/db.rs
  support/addr2line/src/elf.rs
  support/addr2line/src/fmt/addr.rs
  support/addr2line/src/fmt/crashlog.rs
  support/addr2line/src/fmt/mod.rs
  support/addr2line/src/fmt/report.rs
  support/addr2line/src/lib.rs
  support/addr2line/src/query-fn.sql
  support/addr2line/src/query-ln.sql
  support/addr2line/src/trace.rs
  support/addr2line/symbols.db
Labels: docs

#325 Update deps
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/package/ar.rs
Labels: cargo

#334 Clippy & optimisations
  Cargo.lock
  cargo/Cargo.toml
  cargo/src/assets/mod.rs
  cargo/src/assets/pdc.rs
  cargo/src/assets/plan.rs
  cargo/src/build/mod.rs
  cargo/src/build/plan/format.rs
  cargo/src/build/plan/mod.rs
  cargo/src/build/rustflags.rs
  cargo/src/cli/deps.rs
  cargo/src/cli/mod.rs
  cargo/src/cli/opts.rs
  cargo/src/cli/target.rs
  cargo/src/config.rs
  cargo/src/init/mod.rs
  cargo/src/layout/mod.rs
  cargo/src/layout/playdate.rs
  cargo/src/logger.rs
  cargo/src/main.rs
  cargo/src/package/ar.rs
  cargo/src/package/mod.rs
  cargo/src/proc/logging.rs
  cargo/src/proc/reader.rs
  cargo/src/proc/utils.rs
  cargo/src/utils/logging.rs
  cargo/src/utils/mod.rs
  cargo/src/utils/workspace.rs
  cargo/tests/build/simple.rs
  cargo/tests/common.rs
  cargo/tests/init/init.rs
  cargo/tests/init/new.rs
  cargo/tests/run/simple.rs
  cargo/tests/shared.rs
Labels: cargo
