Repository boozook/playdate, pull requests merged in 2024-08, with the labels that each got.

#409 Add needed RUSTFLAGS for supporting Rev A hardware
  Cargo.lock
  api/sys/Cargo.toml
  api/sys/README.md
  cargo/tests/crates/simple/with-cfg/.cargo/config.toml
  support/utils/Cargo.toml
  support/utils/src/compile.rs
Labels: docs, cargo, api

#410 Add runtime target-features test crate
  Cargo.lock
  Cargo.toml
  cargo/Cargo.toml
  examples/rt-target-test/Cargo.toml
  examples/rt-target-test/src/lib.rs
Labels: cargo

#411 Update cargo dependencies
  Cargo.lock
  cargo/Cargo.toml
Labels: cargo

#413 Fix sprite memory leak
  Cargo.lock
  Cargo.toml
  api/playdate/Cargo.toml
  api/sprite/Cargo.toml
  api/sprite/src/lib.rs
  api/sprite/src/sprite.rs
  api/sys/Cargo.toml
  api/sys/src/sys/allocator.rs
Labels: api
