Repository boozook/playdate, pull requests merged in 2025-02, with the labels that each got.

#464 Update pre-built bindings
  api/sys/Cargo.toml
  api/sys/gen/pd2.6.2-linux-x86_64-64-i32-000100000.rs
  api/sys/gen/pd2.6.2-linux-x86_64-64-i32-111111110.rs
  api/sys/gen/pd2.6.2-macos-aarch64-64-i32-000100000.rs
  api/sys/gen/pd2.6.2-macos-aarch64-64-i32-111111110.rs
  api/sys/gen/pd2.6.2-macos-x86_64-64-i32-000100000.rs
  api/sys/gen/pd2.6.2-macos-x86_64-64-i32-111111110.rs
  api/sys/gen/pd2.6.2-pd-000100000.rs
  api/sys/gen/pd2.6.2-pd-111111110.rs
  api/sys/gen/pd2.6.2-windows-aarch64-64-i32-000100000.rs
  api/sys/gen/pd2.6.2-windows-aarch64-64-i32-111111110.rs
  api/sys/gen/pd2.6.2-windows-x86_64-64-i32-000100000.rs
  api/sys/gen/pd2.6.2-windows-x86_64-64-i32-111111110.rs
Labels: pre-built bindings, api

#472 CI: add auto-approve for update workflow
  .github/workflows/triage.yml
  .github/workflows/update.yml
Labels: ci

#473 CI: optimize
  .github/workflows/cleanup-caches.yml
  .github/workflows/tests.yml
  Cargo.lock
Labels: ci

#476 Sys build improvements
  .github/actions/init-cfg/action.yml
  .github/actions/install-bindgen/action.yml
  .github/actions/install-sdk/action.yml
  .github/actions/tools-deps/action.yml
  .github/workflows/tests-api.yml
  .github/workflows/tests-docs.yml
  .github/workflows/tests.yml
  Cargo.lock
  Cargo.toml
  api/scoreboards/Cargo.toml
  api/sys/Cargo.toml
  api/sys/build/builtin.rs
  api/sys/build/cfg.rs
  api/sys/build/lint.rs
  api/sys/build/main.rs
  api/sys/src/build.rs
  support/bindgen-cfg/Cargo.toml
  support/bindgen-cfg/src/lib.rs
  support/bindgen-cfg/src/mask.rs
  support/bindgen/Cargo.toml
  support/bindgen/src/lib.rs
  support/bindgen/src/main.rs
  support/build/Cargo.toml
  support/device/Cargo.toml
  support/sim-ctrl/Cargo.toml
  support/tool/Cargo.toml
  support/utils/Cargo.toml
Labels: bindgen, ci, api

#484 Pd-bindgen various fixes
  Cargo.lock
  support/bindgen/Cargo.toml
  support/bindgen/src/lib.rs
  support/bindgen/src/main.rs
Labels: bindgen

#485 Bindgen small improvements
  Cargo.lock
  support/bindgen-cfg/Cargo.toml
  support/bindgen-cfg/src/lib.rs
  support/bindgen-cfg/src/mask.rs
  support/bindgen/Cargo.toml
  support/bindgen/src/cfg.rs
  support/bindgen/src/lib.rs
Labels: bindgen

#486 Fix simulator cmd for run on windows
  .github/workflows/tests.yml
  Cargo.lock
  support/sim-ctrl/Cargo.toml
  support/sim-ctrl/src/run.rs
Labels: windows, ci

#488 Improve `playdate-symbolize` doc
  Cargo.lock
  support/addr2line/Cargo.toml
  support/addr2line/README.md
Labels: docs

#491 Update deps and bump `playdate`
  Cargo.lock
  api/playdate/Cargo.toml
Labels: api

#492 Bump all API-crates
  api/color/Cargo.toml
  api/ctrl/Cargo.toml
  api/display/Cargo.toml
  api/fs/Cargo.toml
  api/gfx/Cargo.toml
  api/lua/Cargo.toml
  api/scoreboards/Cargo.toml
  api/sound/Cargo.toml
  api/sprite/Cargo.toml
  api/sys/Cargo.toml
  api/system/Cargo.toml
  components/crank-indicator/Cargo.toml
Labels: api

#493 Update `playdate-menu`
  .github/workflows/publish.yml
  Cargo.lock
  api/menu/Cargo.toml
  api/menu/examples/README.md
Labels: docs, api

#497 playdate-graphics: add draw_text_in_rect
  Cargo.lock
  Cargo.toml
  api/gfx/Cargo.toml
  api/gfx/src/text.rs
Labels: api
